﻿body {
}

.shop-list-item {
    cursor: pointer;
}

    .shop-list-item:hover {
        background: #f2f2f2;
    }

li.shop-list-title {
    background-color: lightgray;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.forcast-card {
    width: 100%;
    border-style: solid;
    border-radius: 10px;
}

.cb-card-title {
    display: flex;
    align-items: center;
}

.cb-x-card {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: height 2s;
}

.cb-x-card:hover {
    cursor: pointer;

}
