﻿body {
    padding-bottom: 20px;
}

#welcome {
    text-align: center;
    font-family: myFont;
}

.secTitle {
    margin-top: 5%;
    margin-bottom: 5%;
}

#rightBeerCard {
    margin-top: 160px;
}

#middleBeerCard {
    margin-top: 40px;
}   

.newsCard {
    margin-bottom: 7%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: myFont;
    src: url('../fonts/Bernaber.ttf');
}

.fixedPart {
    color: ##7c3c21;
    background-image: url(../assets/background4.jpg);
    background-repeat: unset;
}

.body-content {
    padding-top: 100px;
}

.web-title {
    display: flex;
    justify-content: flex-start;}

#logoutBtn {
    margin:20px;
}


.login {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.home-Title {
    text-shadow: 3px 2px #848383;
    font-family: myFont;
    font-size: 100px;
    text-align: center;
    transition: font-size 2s;
    color: #f2eee8;
}

    .home-Title:hover {
        font-size: 110px;
    }

.hello-Title {
    font-family: inherit;
    font-size: 23px;
    text-align: right;
    color: #f2eee8;
}



video {
}

#contentWrapper {
    display: flex;
}

#tweetsList {
    overflow-y: scroll;
    height: 450px;
    margin-top: 10%;
}

#about {
    text-align:center;
    margin-bottom:5%
}

.newsTitle {
    text-shadow: 3px 2px gray;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.Stories {
    font-size: 20px;
    border: solid;
    border-width: 2px;
    padding: 10px;
    border-color: black;
    border-radius: 4px;
    column-count: 3;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #ef890f;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

    .loginmodal-submit:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
/*        background-color: black;*/
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 14px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}


#product-image {
    width: 170px;
    height: 170px;
}

.row-title {
    padding-left: 0;
    font-weight: bold;
}

.product-detail-row {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 30px;
}

.product-info {
    overflow: hidden;
}

.search-form {
    margin-bottom: 40px;
    margin-left: 0px;
}

.view-product-btn {
    margin-left: 40px;
    background-color: #ef890f;
    border-color: #ef890f;
}

    .view-product-btn:hover {
        background-color: #7c3c21;
        border-color: #7c3c21;
    }

    .badge-error {
        background-color: #b94a48;
    }

.clear-btn {
    background-color: #686161;
    border-color: #686161;
}
.clear-btn:hover {
    background-color: #686161;
    border-color: #686161;
}

.clear-btn:focus {
    background-color: #686161 !important;
    border-color: #686161 !important;
}

.filter-btn {
    background-color: #ef890f;
    border-color: #ef890f;
}
.filter-btn:hover {
    background-color: #ef890f;
    border-color: #ef890f;
}

.filter-btn:focus {
        background-color: #ef890f !important;
        border-color: #ef890f !important;
}

.badge-error:hover {
        background-color: #953b39;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.05em 16px;
    height: auto;
}

.recCard {
    border: 1px solid #468847
}

.cardContainer {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 30px;
}










@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600");

:root {
    --headlinesFont: 'Josefin Sans', sans-serif;
    --bodyFont: 'Work Sans', sans-serif;
    --wildWatermelon: #29b6f6;
    --fuelYellow: #f0a035;
    --textColor: #323232;
    --bodyBg: #d6d6d6;
    --white: #fff;
    --black: #000;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    color: var(--textColor);
    line-height: 1.5;
}

* {
    box-sizing: inherit;
}

img {
    vertical-align: text-bottom;
}

a {
    color: #f2eee8;
    text-decoration: none;
}

.ft-recipe {
    width: 322px;
    height: 457px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1007843137);
    overflow: hidden;
}

    .ft-recipe .ft-recipe__thumb {
        position: relative;
        height: 281px;
        box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
    }

        .ft-recipe .ft-recipe__thumb #close-modal {
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 36px;
            background: #000;
            color: var(--white);
            text-align: center;
            line-height: 36px;
            font-size: 22px;
            cursor: pointer;
            z-index: 1;
            transition: all 200ms ease;
        }

            .ft-recipe .ft-recipe__thumb #close-modal:hover {
                background: transparent;
                color: var(--black);
            }

        .ft-recipe .ft-recipe__thumb h3 {
            text-align: center;
            position: absolute;
            margin: 0;
            width: 100%;
            color: var(--white);
            font-family: var(--headlinesFont);
            font-size: 25px;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
            padding: 2.4rem 0 0;
        }

        .ft-recipe .ft-recipe__thumb img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
        }

    .ft-recipe .ft-recipe__content {
        flex: 1;
        padding: 0 2em 1em;
    }

        .ft-recipe .ft-recipe__content .content__header .row-wrapper {
            display: flex;
            padding: .55em 0 .3em;
            border-bottom: 1px solid #d8d8d8;
        }

            .ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
                font-family: var(--headlinesFont);
                font-weight: 600;
            }

        .ft-recipe .ft-recipe__content .content__header .recipe-details {
            display: flex;
            list-style: none;
            padding: 1.4em 0 1em;
            margin: 0;
            justify-content: space-between;
        }

            .ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
                flex: 1;
            }

                .ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
                    font-size: 30px;
                }

                .ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
                    color: #ff4f87;
                    margin-left: .35em;
                    vertical-align: bottom;
                    font-size: 24px;
                    font-weight: 600;
                }

                .ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
                    display: block;
                    margin-top: -4px;
                    font-family: var(--headlinesFont);
                    font-size: 21px;
                    font-weight: 300;
                }

        .ft-recipe .ft-recipe__content .description {
            margin: .3em 0 1.8em;
        }

        .ft-recipe .ft-recipe__content .content__footer {
            text-align: center;
            margin: 0 3rem;
        }

            .ft-recipe .ft-recipe__content .content__footer a {
                font-family: var(--headlinesFont);
                display: inline-block;
                background: #ef890f;
                padding: .45em 1em;
                width: 100%;
                text-align: center;
                border-radius: 5px;
                color: #fff;
                font-weight: 500;
                letter-spacing: .2px;
                font-size: 17px;
                transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
                transition: transform 250ms ease, box-shadow 250ms ease;
                transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
            }

                .ft-recipe .ft-recipe__content .content__footer a:hover {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
                }

