﻿@{
    ViewBag.Title = "Home Page";
}

<div id="welcome" class="secTitle newsTitle">
    Welcome to Beerush Page
</div>

<div style="text-align: center;">
    <canvas id="queenScreenSaver" class="dvd-canvas"></canvas>
</div>

<hr />

<div class="secTitle">
    <h2>Top 3 German beer of the week</h2>
</div>

<div class="col-md-4">
    <div class="ft-recipe">
        <div class="ft-recipe__content">
            <header class="content__header">
                <div class="row-wrapper">
                    <h2 class="recipe-title">Hacker-Pschorr Oktoberfest Märzen</h2>
                </div>
            </header>
            <p class="description">
                Made by one of the Oktoberfest breweries, Märzen was traditionally an end-of-brewing-season beer,
                made a little bit stronger to help them last through to the autumn festivals and beyond.
                Thankfully, this Oktoberfest special is now made all year round. It provides effortlessly smooth drinking with lightly
                toasted caramel flavours warmed by a comforting cloak of alcohol. Simple beer expertly executed.
            </p>
            <footer class="content__footer"><a target="_blank" href="https://www.independent.co.uk/extras/indybest/food-drink/beer-cider-perry/best-german-beer-brands-brewery-oktoberfest-tasting-imported-dark-light-a7238571.html">For the full Review..</a></footer>
        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="ft-recipe">
        <div class="ft-recipe__content">
            <header class="content__header">
                <div class="row-wrapper">
                    <h2 class="recipe-title">Weihenstephan Hefe Weissbier</h2>
                </div>
            </header>
            <p class="description">
                Top notch Hefeweizens from Erdinger and Franziskaner have been readily available in British supermarkets for years,
                and we’ve started noticing increased shelf space for Weihenstephan’s version too.
                And that’s good news because it’s outstanding,
                as you would hope from “The World’s Oldest Brewery”.
                It’s clean and crisp with delicate banana and clove notes,
                derived from the special yeast, and a light spice that enhances its qualities.
            </p>
            <footer id="middleBeerCard" class="content__footer"><a target="_blank" href="https://www.independent.co.uk/extras/indybest/food-drink/beer-cider-perry/best-german-beer-brands-brewery-oktoberfest-tasting-imported-dark-light-a7238571.html">For the full Review..</a></footer>
        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="ft-recipe">
        <div class="ft-recipe__content">
            <header class="content__header">
                <div class="row-wrapper">
                    <h2 class="recipe-title">Fruh Kolsch</h2>
                </div>
            </header>
            <p class="description">
                Cologne’s beer style, Kölsch, is a pale ale bordering on lager territory
                and Früh’s version is as refreshing as it comes.
                Clean and light with a bready sweetness,
                some lemon fruitiness and a dry, hoppy finish. It’s so drinkable that the bottle rarely seems big enough.
            </p>
            <footer id="rightBeerCard" class="content__footer"><a target="_blank" href="https://www.independent.co.uk/extras/indybest/food-drink/beer-cider-perry/best-german-beer-brands-brewery-oktoberfest-tasting-imported-dark-light-a7238571.html">For the full Review..</a></footer>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <h2>How to make great tasting beer at home</h2>
        <div class="video-canvas col-md-8">
            <video height="100%" width="650" controls poster="~/Content/images/beer.png">
                <source src="~/Videos/How to make great tasting beer at home.mp4" type="video/mp4">
            </video>
        </div>
    </div>
  
    <div class="col-md-4" id="contentWrapper">
        <div id="tweetsList" style="overflow-y: scroll">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Snap! Today we announce the world premiere of our new Snap Pack. An innovation that will reduce the use of plastic by of 60 million plastic bags. Find out more on <a href="https://t.co/4H5LKlRaLN">https://t.co/4H5LKlRaLN</a> <a href="https://twitter.com/hashtag/inpursuitofbetter?src=hash&amp;ref_src=twsrc%5Etfw">#inpursuitofbetter</a> <a href="https://twitter.com/hashtag/plasticwaste?src=hash&amp;ref_src=twsrc%5Etfw">#plasticwaste</a> <a href="https://twitter.com/hashtag/innovations?src=hash&amp;ref_src=twsrc%5Etfw">#innovations</a> <a href="https://t.co/Ry74m5GZ81">pic.twitter.com/Ry74m5GZ81</a></p>&mdash; Carlsberg (@@carlsberg) <a href="https://twitter.com/carlsberg/status/1037593396079210496?ref_src=twsrc%5Etfw">September 6, 2018</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

<br />

<script>
    // Adjust the function to the browser
    window.requestAnimFrame =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function (callback) {
            window.setTimeout(callback, 1000 / 30);
        };
    var baseImage = "../Content/images/beerBlack.png", imgW = 100, imgH = 100;

    // Get the canvas HTML DOM object
    var canvas = $("#queenScreenSaver")[0];

    // Canvas context - on wich we will draw
    var ctx = canvas.getContext('2d');
    var canvasW = canvas.width, canvasH = canvas.height;

    // Set the object initial location:
    //  Math.floor will return the largest integer less than or equal to a given number
    //  Math.random will return floating number between 0-1 (inclusive 0 but not 1)
    var imgX = Math.floor(Math.random() * (canvasW - imgW));
    var imgY = Math.floor(Math.random() * (canvasH - imgH));
    var moveX, moveY = 1;

    // Initial direction for the object movement
    var xDir = "right",
        yDir = "up";

    var init = function () {
        // File the rect with background color -
        // so the object redraw on clean background and won't be redraw over and over again
        ctx.fillStyle = "#ffffff";
        ctx.fillRect(0, 0, canvasW, canvasH);
        ctx.drawImage(base_image, imgX, imgY, imgW, imgH);

        if (xDir == "right") {
            if (imgX >= canvasW - imgW) {
                xDir = "left";
                imgX = imgX - moveX;
            } else {
                imgX = imgX + moveX;
            }
        } else {
            if (imgX <= 0) {
                xDir = "right";
                imgX = imgX + moveX;
            } else {
                imgX = imgX - moveX;
            }
        }
        if (yDir == "down") {
            if (imgY >= canvasH - imgH) {
                yDir = "up";
                imgY = imgY - moveY;
            } else {
                imgY = imgY + moveY;
            }
        } else {
            if (imgY <= 0) {
                yDir = "down";
                imgY = imgY + moveY;
            } else {
                imgY = imgY - moveY;
            }
        }

        requestAnimFrame(init);
    }

    // In case the canvas size was changed
    var reinit = function () {
        canvasW = canvas.width, canvasH = canvas.height;
        // Making sure the object won't go the same path
        (canvasW - imgW === canvasH - imgH) ? moveX = 1.5 : moveX = 1;
    }
    reinit();

    var base_image = new Image();
    base_image.src = baseImage;
    base_image.onload = function () {
        window.addEventListener("resize", reinit);
        init();
    };
</script>